a {
  color: #7777FF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:root { 
  background-color: #dddad0;
}

body {
  margin: 38px auto;
  max-width: 600px;
  line-height: 1.5;
  font-size: 16px;
  color: #444;
  background-color: #FFF;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 600;
}

.container {
  display: flex;
  width: 100%;
}

.intro {
  align-content: center;
}

.bio {
  float: "left";
}

.profile {
  width: 95%;
  max-width: 100%;
  height: auto;
  float: right;
}

.center_circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
  height: auto;
  border-radius: 50%
}
